table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  text-align: left;
}
td {
}

.clickable {
  cursor: pointer;
}

.no-bullet {
  list-style-type: none; /* Remove bullet points from list items */
}
